/*.classpath
/*.project
**/.settings
**/target
/*.iml
/src/main/*.iml
/northwind-dao/*.classpath
/northwind-dao/*.project
/northwind-dao/*.iml
/northwind-dao/src/main/*.iml
/northwind-dao/src/test/*.iml
**/northwind-dao/target
/northwind-domain/*.classpath
/northwind-domain/*.project
/northwind-domain/*.iml
/northwind-domain/src/main/*.iml
/northwind-domain/src/test/*.iml
**/northwind-domain/target
**/.idea
